body{
    margin: 0;
    padding: 0;
    background: #dbdbdb;
}
header {
    width: 98.5%;
    padding: 4.5% 0 4.5% 1.5%;
    background: #00ffb3;
    margin: 0;
    font-size: 30px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-bottom: #ff0000;
    border-style:double ;
}

.nav {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li button{
    margin-top: 25%;
    background: #ff0000;
}

li a:hover {
background-color: #111;
}

.content {
    display:block;
    
}

.content a {
    display:block;
}

.content p {
    display: inline;
}

footer {
    width: 100%;
    height: 50%;
    background: #333;
    padding: 1.5% 0 1.5% 0;
    color: #dbdbdb;
}
